a:link, a:active, :visited{
    color: brown;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: #090;

}
.vidu{
    width: 250px;
    padding: 5px;
    border: 1px solid #009
    
}
.vidu:hover{
    border: 1px solid#F00;
}
.vidu:focus{
    border: 1px solid#00f;
}
p:first-child{
    color: #025;
}