*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.main-container{
    background-color: #f5f5f5;
    padding: 50px;
}
.block-new{
    width: 760px;
    height: 160px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    overflow: hidden;
}
.block-new img{
    width: 180px;
    height: 160px;
    float: left;
    margin-right: 20px;
    /*Do bong*/

}
.block-new a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    color: #999999;
}
/*
.block-new p{
    float: left;
    font-size: 20px;
    display: block;
    margin-right: 5px;
}
.block-new a{
    float: left;
    font-size: 20px;
    display: block;
    margin-right: 5px;
}

*/
.block-new p{
    font-family: tahoma;
    color: #f5f5f5;
    display: block;
    transition: 0.4s;
}
/*
hieu ung khi tro vao the a
.block-new a:hover{
    color: #2fa1b3;
}
*/
/*Hieu ung khi tro vao bat ki cai gi*/
.block-new:hover a{
    color: #2fa1b3;
    transition: 0.4s;
}
.block-new:hover img{
    box-shadow: 5px 5px 10px;
    transition: 0.4s;
}
.block-new:hover p{
    color: black;
    transition: 0.4s;
}
