*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.main{
    margin: auto;
    margin-top: 50px;
    width: 1500px;
    padding: 10px 0px;
    background-color: gray;
    padding-left: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.khoi{
    background-color: white;
    width: 450px;
    height: 160px;
    display: block;
    text-align: center;
    padding-top: 10px;
    position: relative;
    overflow: hidden /*che di phan o ngoai*/;
    box-shadow: grey 5px 5px 5px;
    margin-right: 10px;
}
.khoi h2{
    font-family: tahoma;
    color: #d81c1c;
    text-transform: uppercase; /*TU dong viet hoa*/
    font-size: 60px;
}
.khoi p{
    font-family: tahoma;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.khoi div{
    width: 100px;
    height: 40px;
    background-color: #bc1212;
    position: absolute;
    top: -7px;
    left: -36px;
    transform: rotate(-45deg);
}

.khoi:hover {
    top: -20px;
    transition: 0.6;
}